<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>database test</title>
    <script
      src="https://kit.fontawesome.com/1bacf2776e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <style>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css");
    html,
    body {
      height: 100%;
      background-color: #ff7700;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c5242c' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23a82001' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d37d35' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%238d5147' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a823a5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23aa766b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b12076' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a446a0' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239c4583' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f1f71' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%239059ba' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23a42c89' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      margin: 0;
      padding: 0;
    }
    .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 64px;
      padding: 32px;
      font-size: 32px;
    }
    .box span {
      margin: 10px;
    }
  </style>
  <body>
    <div class="h-25">
      <div class="box">
        <h1 style="font-size: 80px">HW</h1>
        <i class="fa-solid fa-angles-down fa-fade fa-2xl"></i>
      </div>
    </div>

    <div class="h-50 d-flex align-items-center justify-content-center">
      <form action="/coursesView" method="post">
        <div class="input-group input-group-lg">
          <div class="input-group mb-3">
            <input
              name="CourseName"
              type="text"
              class="form-control"
              placeholder="CourseName"
              required
            />
            <span class="input-group-text"></span>
            <input
              name="NumOfUsers"
              type="number"
              class="form-control"
              placeholder="NumOfUsers"
              required
            />
          </div>

          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea
              class="form-control"
              placeholder="Description"
              name="Description"
              required
            ></textarea>
          </div>
          <div>
            <button class="btn btn-primary" type="submit">submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="h-25 d-flex align-items-center justify-content-center mr-3">
      <form action="coursesView" method="get">
        <% for(x of courses) { %>
        <div
          class="card text-center mb-lg-3 card shadow-lg p-3 mb-5 bg-body rounded m-lg-auto"
          style="width: 18rem"
        >
          <div class="card-body">
            <h5 class="card-title"><%= x.CourseName%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= x.NumOfUsers%></h6>
            <p class="card-text"><%= x.Description%></p>
          </div>
        </div>
        <% } %>
      </form>
    </div>

    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
